html {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b0c4de;
}

body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 800px;
    height: 100%;
    background-color: #FEFEFA;
    border-radius: 2%;
    box-shadow: 0 0 10px 5px #A9A9A9;
    margin-bottom: 10px;
}

.description p{
    text-align: justify;
    padding: 0 20px;
}

h1{
    margin: 50px 0;
    text-align: center;
}

form{
    margin-top: 50px; 
}

.upper-row-wrapper{
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.input-field-wrapper{
    margin: 10px 0;
    display: inline-block;
}

.input-field-wrapper label{
    display: block;
}

.index-lower-row-wrapper {
    width: 300px;
    margin: 0 auto;
}

.survey-lower-row-wrapper {
    width: 550px;
    margin: 0 auto;
}

.articles-wrapper{
    width: 550px;
    margin: 0 auto;


}

.article{
    display: flex;
    justify-content: space-between;
}

.article:nth-child(5){
    margin-bottom: 10px;
}

.button{
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.95);
}

.submit-btn {
    background-color: #808000;
}

.reset-btn {
    background-color: #ed1c24;
}

a{
    color: blue ;
    text-decoration: none ;
}

.sentence{
    min-width: 380px;
}

.column-description > span{
    font-size: 16px;
    font-weight: bold;
}

.feedback > textarea {
    width: 400px;
    height: 200px;
}

.feedback-wrapper{
    margin: 0 auto;
    width: 406px;
    display: flex;
    flex-direction: column;
    align-items:flex-start
}

input#email{
    width: 200px;
    outline-width: 0;

}

textarea#opinion{
    outline-width: 0;
    resize: none;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-content{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-img > a{
    display: flex;
    align-items: center;
}

#dept-name{
    margin-left: 5px;
    font-weight: bold;
    color: rgba(8, 63, 136, 0.9);
    font-size: 30px;
    width: 200px;
}

#logo{
    width: 100px;
    height: 100px;
}

#login-link{
    font-size:20px;
}

.description > h2 {
    padding: 0 20px;
}

.login-field-wrapper{
    width: 260px;
    margin-left: 20px;
}

.form-group{
    margin: 5px 0;
}

.description > h3{
    padding: 20px;
}

#spaced{
    display: flex;
    justify-content: space-between;
}